body {
    font-family: Arial, sans-serif;
    background: #782f38;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
  }
  
  form {
    display: grid;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
  }

  form input, form select, form textarea, form button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  form button {
    background-color: rgb(224, 27, 96) ;
    color: white;
    border: none;
    cursor: pointer;
  }

  #clear-all{
    background-color:rgb(239, 72, 86);
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .controls {
   
    margin-top: 10px;
    text-align: right;
  }

  /* .tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  } */
  
    .task-list {
    margin-top: 20px;
    display: grid;
    gap: 15px; 
    position: relative;
    left: 5px;
  }
  
  .task-card {
    border-radius: 10px;
    padding: 15px;
    color: #333;
    position: relative;
  }
  
  .task-card h3 {
    margin: 0;
  }
  
  .task-card .actions {
    margin-top: 10px;
  }
  
  .task-card button {
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  